<%= form_for shallow_args(@platform, metadata_rule) do |f| %>
  <% if metadata_rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(metadata_rule.errors.count, "error") %> prohibited this metadata_rule from being saved:</h2>

      <ul>
      <% metadata_rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :regex %>
    <%= f.text_field :regex %>
  </div>

  <div class="field">
    <%= f.label :xpath %>
    <%= f.text_field :xpath %>
  </div>

  <div class="field">
    <%= f.label :css %>
    <%= f.text_field :css %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary btn-xs" %>
  </div>
<% end %>
