<%= form_for(platform) do |f| %>
  <% if platform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(platform.errors.count, "error") %> prohibited this platform from being saved:</h2>

      <ul>
      <% platform.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :base_url %>
    <%= f.text_field :base_url %>
  </div>

  <div class="field">
    <%= f.label :entry_validation %>
    <%= f.text_field :entry_validation %>
  </div>

  <div class="field">
    <%= f.label :harvest %>
    <%= f.text_field :harvest %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary btn-xs" %>
  </div>
<% end %>
